
.left-city-container {
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    height: fit-content;
    width: fit-content;
    opacity: 0.20;
    border-radius: 10px;
}

    .left-city-container img {
        object-fit: inherit;
        height: auto;
        width: 100%;
        border-radius: 10px;
    }


