
.projects-navigation-container {
    position: fixed;
    top: 14.5%;
    left: 77%;
    transform: translate(-50%, -50%);
    z-index: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 100px;
    border-radius: 10px;
    color: #FCF8FF;
}

.arrow-wrapper {
    display: flex;
    align-items: center;
}

.block {
    width: 200px;
    height: 50px;
    background: none;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(252, 248, 255, 0.05);
    border-radius: 10px;
}

h1 {
    opacity: 0.7;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    transition: opacity 0.3s;
    margin-top : 6px;
}

.arrow-wrapper:hover h1 {
    opacity: 0.7;
}

#arrow_2 .arrow {
    cursor: pointer;
    display: block;
    align-items: flex-start;
    text-transform: uppercase;
    position: relative;
    transition: transform 0.3s;
}

    #arrow_2 .arrow span {
        display: block;
        width: 3em;
        opacity: 0;
        transition: opacity 0.3s 0s;
        padding: 0 0.5em;
    }

    #arrow_2 .arrow:hover span {
        opacity: 0.7;
        transition: opacity 0.3s 0.1s;
    }

    #arrow_2 .arrow:before {
        content: "";
        display: block;
        border: solid #FCF8FF;
        border-width: 2px 2px 0 0;
        position: absolute;
        top: 2px;
        width: 20px;
        height: 20px;
    }

    #arrow_2 .arrow.arrow--left:before {
        transform: rotate(-135deg);
        right: 0;
        transition: right 0.3s 0.2s;
    }

    #arrow_2 .arrow.arrow--left:hover:before {
        right: 100%;
        transition: right 0.3s;
    }

    #arrow_2 .arrow.arrow--right {
        text-align: right;
    }

        #arrow_2 .arrow.arrow--right:before {
            left: 0;
            transform: rotate(45deg);
            transition: left 0.3s 0.2s;
        }

        #arrow_2 .arrow.arrow--right:hover:before {
            left: 100%;
            transition: left 0.3s;
        }

    #arrow_2 .arrow:hover {
        transform: none;
    }


    /**** no arrow***/

    #arrow_2 .no-arrow span {
        display: block;
        width: 3em;
        opacity: 0;
        transition: opacity 0.3s 0s;
        padding: 0 0.5em;
    }