
.description-container {
    position: fixed;
    top: 50%;
    left: 28.5%;
    transform: translate(-50%, -50%);
    z-index: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(var(--window-container-width) * 0.5);
    height: calc(var(--window-container-width) * 9/16 * 0.9);
    border: 1px solid rgb(252, 248, 255, 0.05);
    border-radius: 10px;
    color: #FCF8FF;
}
