<div class="projects-navigation-container">
    <div id="arrow_2" class="arrow-wrapper">
        @if (DisplayPreviousButton)
        {
            <div @onclick="@ToPreviousProject" class="arrow arrow--left">
                <span>@Previous</span>
            </div>
        }

        <div class="block"><h1>@ProjectWord @NthProject/@TotalProjects</h1></div>

        @if (DisplayNextButton)
        {
            <div @onclick="@ToNextProject" class="arrow arrow--right">
                <span>@Next</span>
            </div>
        }

    </div>
</div>

