
<div class="technologies-container">
    @* @Technologies *@
    @foreach (string technologyIcon in TechnologiesIcons)
    {
        try
        {
            <img src="@technologyIcon" alt="@TechnologiesIconsAlt" />
        }
        catch
        {
            @TechnologiesIconsAlt
        }

    }

</div>