<div class="projects-navigation-container">
    <div id="arrow_2" class="arrow-wrapper">
        <div class="arrow arrow--left">
            <span>Prev</span>
        </div>

        <div class="block"><h1>Projet 1/n</h1></div>

        <div class="arrow arrow--right">
            <span>Next</span>
        </div>
    </div>
</div>