
<div class="technologies-container" id="tech">
    @foreach (string technologyIcon in TechnologiesIcons)
    {
        try
        {
            <img src="@technologyIcon" alt="@TechnologiesIconsAlt" />
        }
        catch
        {
            @TechnologiesIconsAlt
        }

    }
</div>
