
.projects-sidebar-navigation-container {
    position: fixed;
    overflow: hidden;
    top: 50%;
    left: -12%;
    transform: translate(-50%, -50%);
    z-index: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: calc(var(--window-container-width) * 9/16); /*to keep 16/9 ratio*/
    background: rgb(31, 25, 38, 0.8);
    border-radius: 10px;
    color: #FCF8FF;
}
    .projects-sidebar-navigation-container img {
        object-fit: inherit;
        height: auto;
        width: 500%;
        position: fixed;
        right:-90%;
        bottom: 0;
        opacity: 0.2;
        border-radius: 10px;

    }

