
<div class="window-container">
    <Landscape></Landscape>
    <img src="/images/PC Monitor@1-1920x1080-blackhole-3-lights.png" />
    <ProjectDescription></ProjectDescription>
    <ProjectTechnologies></ProjectTechnologies>
    <ProjectsNavigation></ProjectsNavigation>
    <ProjectsSidebarNavigation></ProjectsSidebarNavigation>

</div>