
<div class="window-container">
    <Landscape></Landscape>
    <img src="/images/PC Monitor with accessories@1-1920x1080.png" />
    <ProjectTitle Title="@Title_"></ProjectTitle>
    <ProjectDescription DescriptionTxt=@DescriptionTxt_></ProjectDescription>
    <ProjectTechnologies Technologies=@Technologies_></ProjectTechnologies>
    <ProjectsNavigation></ProjectsNavigation>

</div>