
.solutions-container {
    /********Variables*******/
    --solutions-container-width: 90vw;
    --solutions-container-height: 85vh;
    /************************/

    position: fixed;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: var(--solutions-container-width);
    height: var(--solutions-container-height);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}
    .solutions-container:not(img) {
        /*background: #0094ff;*/
        opacity: 1;
    }

    img {
        position: fixed;
        width: 100vw;
        height: 100vh;
        opacity: 0.3;
        z-index: 3;
    }


/*********** carousel ***********/


.container {
    display: flex;
    justify-content: center;
    height: 75vh;
    width: 90vw;
    gap: 10px;
}

    .container > div {
        flex: 0 0 calc(var(--solutions-container-width) / 8);
        border-radius: 15px;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        box-shadow: 1px 5px 15px #1e0e3e;
        position: relative;
        overflow: hidden;
    }

        .container > div:nth-of-type(1) {
            background: url("../../images/Solutions/1-showcase-site.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        .container > div:nth-of-type(2) {
            background: url("../../images/Solutions/2-web-application.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        .container > div:nth-of-type(3) {
            background: url("../../images/Solutions/3-api.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        .container > div:nth-of-type(4) {
            background: url("../../images/Solutions/4-back-office.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 10% 50%;
        }
        .container > div:nth-of-type(5) {
            background: url("../../images/Solutions/5-site-redesign.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 30% 50%;
        }

        .container > div:nth-of-type(6) {
            background: url("../../images/Solutions/6-consulting.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 70% 50%;
        }


        .container > div .content {
            font-size: 1.5rem;
            color: #fff;
            display: flex;
            align-items: center;
            padding: 15px;
            opacity: 0;
            flex-direction: column;
            height: 100%;
            justify-content: flex-end;
/*            background: #02022e;
            background: linear-gradient(0deg, rgba(2, 2, 46, 0.6755077031) 0%, rgba(255, 255, 255, 0) 100%);*/
            transform: translateY(100%);
            transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
            visibility: hidden;
        }


        .container > div:hover {
            flex: 0 0 calc(var(--solutions-container-width) / 3);
            box-shadow: 1px 3px 15px #7645d8;
            transform: translateY(-30px);
            /*background: none;*/

        }

            .container > div:hover .content {
                opacity: 1;
                transform: translateY(1.5%) scaleY(101%);
                visibility: visible;
            }
