@page "/solutions"
@using Portfolio.Clean.BlazorUI.Components.Solutions


<div class="solutions-container">
    @* <SolutionCard></SolutionCard> *@
    <div class="container">
        <div>
            <div class="content">
                <SolutionCard></SolutionCard>
            </div>
        </div>
        <div>
            <div class="content">
                <SolutionCard></SolutionCard>
            </div>
        </div>
        <div>
            <div class="content">
                <SolutionCard></SolutionCard>
            </div>
        </div>
        <div>
            <div class="content">
                <SolutionCard></SolutionCard>
            </div>
        </div>
        <div>
            <div class="content">
                <SolutionCard></SolutionCard>
            </div>
        </div>
        <div>
            <div class="content">
                <SolutionCard></SolutionCard>
            </div>
        </div>
    </div>

</div>