@page "/solutions"
@using Portfolio.Clean.BlazorUI.Components.Solutions


<div class="solutions-container">

    <div class="container">
        <div>
            <div class="content">
                <SolutionCard></SolutionCard>
            </div>
        </div>
        <div>
            <div class="content">
                <SolutionCard></SolutionCard>
            </div>
        </div>
        <div>
            <div class="content">
                <SolutionCard></SolutionCard>
            </div>
        </div>
        <div>
            <div class="content">
                <SolutionCard></SolutionCard>
            </div>
        </div>
        <div>
            <div class="content">
                <SolutionCard></SolutionCard>
            </div>
        </div>
        <div>
            <div class="content">
                <SolutionCard></SolutionCard>
            </div>
        </div>
        <div>
            <div class="content">
                <SolutionCard></SolutionCard>
            </div>
        </div>
        <div>
            <div class="content">
                <SolutionCard></SolutionCard>
            </div>
        </div>
    </div>
@*     <SolutionCard></SolutionCard>
    <SolutionCard></SolutionCard>
    <SolutionCard></SolutionCard> *@
</div>