@page "/solutions"
@using Portfolio.Clean.BlazorUI.Components.Solutions


<div class="solutions-container">
    @* <img src="/images/Solutions/jbtdev-home-new-background-image-bottom.png" /> *@
    <SolutionsCards></SolutionsCards>
</div>