@page "/solutions"
@using Portfolio.Clean.BlazorUI.Components.Solutions

<img src="/images/Solutions/jbtdev-home-new-background-image-bottom.png" />
<div class="solutions-container">
    <SolutionsCards></SolutionsCards>
</div>