@page "/solutions"
@using Portfolio.Clean.BlazorUI.Components.Common
@using Portfolio.Clean.BlazorUI.Components.Solutions

<PageTitle> @LanguageContainer.Keys["Solutions:PageTabTitle"] </PageTitle>

@if (isLoaded)
{
    <SetPageTitle PageTitleName="@LanguageContainer.Keys["Solutions:PageTitle"]"></SetPageTitle>

    <div class="solutions-container">
        <div class="container">
            <div>
                <div class="content">
                    <SolutionCard></SolutionCard>
                </div>
            </div>
            <div>
                <div class="content">
                    <SolutionCard></SolutionCard>
                </div>
            </div>
            <div>
                <div class="content">
                    <SolutionCard></SolutionCard>
                </div>
            </div>
            <div>
                <div class="content">
                    <SolutionCard></SolutionCard>
                </div>
            </div>
            <div>
                <div class="content">
                    <SolutionCard></SolutionCard>
                </div>
            </div>
            <div>
                <div class="content">
                    <SolutionCard></SolutionCard>
                </div>
            </div>
        </div>

    </div>
}
else
{
    <CustomLoadingAnimation></CustomLoadingAnimation>
}
