@page "/"
@using Portfolio.Clean.BlazorUI.Components.Home
@inject ILanguageContainerService languageContainer

<PageTitle>@LanguageContainer.Keys["Home:PageTabTitle"]</PageTitle>

<div class="home-page">
	<Laptop TypingWords="@LanguageContainer.Keys["Home:LaptopTypingWords"]"></Laptop>
	<Title TitleJob="@LanguageContainer.Keys["Home:TitleJob"]"></Title>
	<City></City>
	<select class="language-selector">
		@foreach(var language in Languages)
		{
			<option @onclick='() => SetLanguage($"{language.Key}")'>@language.Value</option>
		}
	</select>
</div>
