@page "/"

<PageTitle>Index</PageTitle>


@* <h1 class="d-flex flex-column justify-content-center align-content-center">
    <span id="titlename">JBT.DEV</span>
    <span class="titlejob" id="titlejob1">Applications web </span>
    <span class="titlejob">&</span>
    <span class="titlejob">mobiles</span>
</h1> *@

<div class="overlay"></div>

<div class="text">
	<div class="wrapper">
		<div id="J" class="letter">J</div>
		<div class="shadow">J</div>
	</div>
	<div class="wrapper">
		<div id="B" class="letter">B</div>
		<div class="shadow">B</div>
	</div>
	<div class="wrapper">
		<div id="T" class="letter">T</div>
		<div class="shadow">T</div>
	</div>
	<div class="wrapper">
		<div id="." class="letter">.</div>
		<div class="shadow">.</div>
	</div>
	<div class="wrapper">
		<div id="D" class="letter">D</div>
		<div class="shadow">D</div>
	</div>
	<div class="wrapper">
		<div id="E" class="letter">E</div>
		<div class="shadow">E</div>
	</div>
	<div class="wrapper">
		<div id="V" class="letter">V</div>
		<div class="shadow">V</div>
	</div>
</div>