@page "/"
@using Portfolio.Clean.BlazorUI.Components.Home

<PageTitle>Home</PageTitle>

<div class="home-page">
	<Logo></Logo>
	<Laptop></Laptop>
	<div id="title-block">
		<span id="titlename">JBT.DEV</span>
		<div class="titlejob">
			<span id="titlejob-s">Solutions</span>
			<span id="titlejob-l">logicielles</span>
		</div>

	</div>
</div>
