/*@font-face {
    font-family: 'Digitaltech';
    src: url('../wwwroot/fonts/home/Digitaltech-rm0K.ttf') format("truetype");
}

@font-face {
    font-family: 'kimberley';
    src: url('../wwwroot/fonts/home/kimberley-bl.ttf') format("truetype");
}

@font-face {
    font-family: 'technology';
    src: url('../wwwroot/fonts/home/Technology-Bold.ttf');
}*/


.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
 /*   height: 30vh;*/
    z-index: 100;
}

/*
    base color : #4e0db3  (violet)
    complementary 1 : #25127d  (violet/blue)
    complementary 2 : #680db3  (violet)
    complementary 3 : #0d4eb3  (blue sky)
    complementary 4 : #09367d  (blue ocean)



*/

.text {
    font-family: 'Castoro Titling', sans-serif;
    display: flex;
    position: absolute;
    bottom: 32vh;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    font-size: 8.5vw;
    letter-spacing: -0.7vw;
    color: #FCF8FF; /*white*/
    text-shadow: -1px 0 #B1A8B9, 0 1px #B1A8B9, 1px 0 #B1A8B9, 0 -1px #B1A8B9; /*light grey*/
    font-weight: 800;
}

    .text .wrapper .letter {
        transition: ease-out 1s;
        transform: translateY(38%);
    }

    .text .wrapper .shadow {
        transform: scale(1, -1);
        color: #A00000; /*Bordeaux*/
        text-shadow: -1px 0 #A00000, 0 1px #A00000, 1px 0 #A00000, 0 -1px #A00000; /*Bordeaux*/
        transition: ease-in 1s, ease-out 5s;
    }

        .text .wrapper:hover .letter {
            transform: translateY(-5%);
        }

        .text .wrapper:hover .shadow {
            opacity: 0;
            transform: translateY(5%);
        }

@media (max-width: 480px) {
    .text {
        bottom: 40vh;
        font-size: 12vw;
    }
}