@page "/"
@using Portfolio.Clean.BlazorUI.Components.Home

<PageTitle>Home</PageTitle>

<div class="home-page">
	<Laptop></Laptop>
	<div id="title-block">
		<span id="titlename">JBT.DEV</span>
		<span class="titlejob">Solutions logicielles</span>
	</div>
</div>
