@page "/"
@using Portfolio.Clean.BlazorUI.Components.Home

<PageTitle>Home</PageTitle>

<div class="home-page">
	<Logo></Logo>
	<Laptop></Laptop>
	<Title></Title>
	<City></City>
	<Moon></Moon>
</div>
