@page "/"

<PageTitle>Index</PageTitle>


<h1 class="d-flex flex-column justify-content-center align-content-center">
    <span id="titlename">JBT.DEV</span>
    <span class="titlejob" id="titlejob1">Applications web </span>
    <span class="titlejob">&</span>
    <span class="titlejob">mobiles</span>
</h1>