@page "/"
@using Portfolio.Clean.BlazorUI.Components.Home

<PageTitle>Accueil</PageTitle>

<div class="home-page">
	<Laptop TypingWords="@LaptopTypingWords"></Laptop>
	<Title TitleJob="@TitleJob"></Title>
	<City></City>
</div>
