@page "/"
@using Portfolio.Clean.BlazorUI.Components.Home
@inject ILanguageContainerService languageContainer

<PageTitle>@LanguageContainer.Keys["Home:PageTabTitle"]</PageTitle>

<div class="home-page">
@* 	<Airplane></Airplane>
	<Satellite></Satellite> *@
	<Laptop TypingWords="@LanguageContainer.Keys["Home:LaptopTypingWords"]"></Laptop>
	<Title TitleJob="@LanguageContainer.Keys["Home:TitleJob"]"></Title>
	<City></City>
	<ActivityCarousel PositionTop="50%" PositionLeft="22%" CarouselWidth="55vw" CarouselHeight="100.1vh" ZIndex="7" Opacity="1">
	</ActivityCarousel>

	<select class="language-selector">
		@foreach(var language in Languages)
		{
			<option @onclick='() => SetLanguage($"{language.Key}")'>@language.Value</option>
		}
	</select>
</div>
