@page "/"
@using Portfolio.Clean.BlazorUI.Components.Home
@inject ILanguageContainerService languageContainer

<PageTitle>Accueil</PageTitle>

<div class="home-page">
	@* <Laptop TypingWords="@LaptopTypingWords"></Laptop> *@
	<Laptop TypingWords="@LanguageContainer.Keys["LaptopTypingWords"]"></Laptop>
	<Title TitleJob="@LanguageContainer.Keys["TitleJob"]"></Title>
	<City></City>
	<div class="row d-flex flex-row" style="position:fixed;top:20px;right:50px;">
		<button @onclick='() => SetLanguage("fr-FR")'>Français</button>
		<button @onclick='() => SetLanguage("en-US")'>English</button>
		<button @onclick='() => SetLanguage("ja-JP")'>日本語</button>
	</div>
</div>