@using Portfolio.Clean.BlazorUI.Components.Common

@inherits LayoutComponentBase



<div class="page">
    @if (isLoaded)
    {
        <PortfolioSidebar></PortfolioSidebar>
        @*   <PortfolioNavbar></PortfolioNavbar> *@
        <main>
            <article class="content">
                @Body
            </article>
        </main>
        @* <PortfolioFooter></PortfolioFooter> *@
    }
    else
    {
        <CustomLoadingAnimation></CustomLoadingAnimation>
    }
</div>