@using Portfolio.Clean.BlazorUI.Components.Common

@inherits LayoutComponentBase


@if (isLoaded)
{
    <div class="page">
      @*   <PortfolioNavbar></PortfolioNavbar> *@
        <main>
            <article class="content">
                @Body
            </article>
        </main>
        @* <PortfolioFooter></PortfolioFooter> *@
    </div>
}
else
{
    <CustomLoadingAnimation></CustomLoadingAnimation>
}
