@using Portfolio.Clean.BlazorUI.Components.Common
@inherits LayoutComponentBase


<video autoplay loop>
    <source src="/videos/tunnel_-_79764 (720p).mp4" type="video/mp4" muted/>
    Votre navigateur ne supporte pas la video
</video>

<div class="page">
    <PortfolioNavbar></PortfolioNavbar>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    <PortfolioFooter></PortfolioFooter>
</div>

