@using Portfolio.Clean.BlazorUI.Components.Common


@inherits LayoutComponentBase

<div class="page">
    @if (isLoaded)
    {
        <Logo></Logo>
        @* <PortfolioSidebar></PortfolioSidebar> *@
        <main>
            <article class="content">
                @Body
            </article>
        </main>
    }
    else
    {
        <CustomLoadingAnimation></CustomLoadingAnimation>
    }
</div>