@using Portfolio.Clean.BlazorUI.Components.Common
@inherits LayoutComponentBase


@if (isLoaded)
{
    <div class="page">
        <PortfolioNavbar></PortfolioNavbar>
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
        @* <PortfolioFooter></PortfolioFooter> *@
    </div>
}
else
{
    <div>
        Bienvenue sur jbt.dev !
        Veuillez patienter
    </div>
}
