.solution-container {
    /********Variables*******/
    --solution-container-width: calc(var(--solutions-container-width) / 3);
    --solution-container-height: calc(var(--solutions-container-height) / 1);
    --borderWidth: 15px;
    /************************/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--solution-container-width);
    height: var(--solution-container-height);
    z-index: 4;
    color: #FCF8FF;
    background: linear-gradient(180deg, rgba(28, 36, 76, 1) 0%, rgba(27, 28, 68, 1) 50%, rgba(28, 36, 76, 1) 100%);
    border-radius: 15px;
    opacity: 1;
}

/***************************************** title **********************************************/
/**********************************************************************************************/
    .solution-container .solution-index-container {
        position: fixed;
        top: 1%;
        left: -7%;
        width: calc(var(--solutions-container-width) / 8);
        height: calc(var(--solutions-container-height) / 14);
        font-weight: 900;
        font-size: calc(var(--solution-container-width) / 15);
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        z-index: 5;
    }

        .solution-container .solution-index-container .solution-index {
            width: calc(var(--solutions-container-width) / 12);
            height: calc(var(--solutions-container-height) / 18);
            font-weight: 700;
            font-size: calc(var(--solution-container-width) / 17);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: none;
            z-index: 5;
        }


        .solution-container .title-container .arrow {
            width: calc(var(--solutions-container-width) / 20);
            height: calc(var(--solutions-container-height) / 33);
            font-weight: 900;
            font-size: calc(var(--solution-container-width) / 15);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #4F0EB3;
            background: linear-gradient(225deg, #4F0EB3, #ED3EFE); /*purple-pink*/
            background-size: 300% 300%;
            background-position: 19% 50%;
            clip-path: polygon(100% 0, 0 0, 50% 100%);
            border-radius: 4px;
            z-index: 5;
        }

    .solution-container .title-container {
        width: calc(var(--solutions-container-width) / 5);
        height: calc(var(--solutions-container-height) / 4.5);
        font-weight: 900;
        font-size: calc(var(--solution-container-width) / 15);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*background: rgba(255,255,255,0.2);*/
    }

        .solution-container .title-container .title {
            width: calc(var(--solutions-container-width) / 7);
            height: calc(var(--solutions-container-height) / 7.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-weight: 900;
            font-size: calc(var(--solution-container-width) / 15);
            background: linear-gradient(180deg, rgba(28, 36, 76, 1) 0%, rgba(27, 28, 68, 1) 50%, rgba(28, 36, 76, 1) 100%);
            position: relative;
            border-radius: var(--borderWidth);

        }

            .solution-container .title-container .title:after {
                content: '';
                position: absolute;
                top: calc(-0.175 * var(--borderWidth));
                left: calc(-0.175 * var(--borderWidth));
                height: calc(100% + var(--borderWidth) * 0.35);
                width: calc(100% + var(--borderWidth) * 0.35);
                /*background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);*/ /*orange*/
                /*background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);*/ /*orange*/
                background: #4F0EB3;
                background: linear-gradient(225deg, #4F0EB3, #ED3EFE); /*purple-pink*/
                border-radius: calc(1 * var(--borderWidth));
                z-index: -1;
                background-size: 300% 300%;
                background-position: 19% 50%;
                /*****animation*****/
                /*                -webkit-animation: animatedgradient 3s ease alternate infinite;
                animation: animatedgradient 3s ease alternate infinite;*/
            }


    /***************************************** subtitles **********************************************/
    /**************************************************************************************************/

    .solution-container .sub-title-container {
        width: calc(var(--solutions-container-width) / 3.75);
        height: calc(var(--solutions-container-height) / 5);
        font-weight: 900;
        font-size: calc(var(--solution-container-width) / 16);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        border-radius: var(--borderWidth);
        font-size: calc(var(--solution-container-width) / 15);
        background: linear-gradient(174deg, rgba(112, 63, 188, 1) 0%, rgba(108, 41, 245, 1) 10%, rgba(78, 13, 179, 1) 100%, rgba(112, 63, 188, 1) 100%);
        margin-bottom: 2px;
    }

        .solution-container .sub-title-container .sub-title {
            width: calc(var(--solutions-container-width) / 5.5);
            height: calc(var(--solutions-container-height) / 7.5);
            font-weight: 900;
            font-size: calc(var(--solution-container-width) / 16);
            text-align: center;
            /*background: #07b39b;*/
        }

    .solution-container .sub-title-container2 {
        width: calc(var(--solutions-container-width) / 3.75);
        height: calc(var(--solutions-container-height) / 6);
        font-weight: 900;
        font-size: calc(var(--solution-container-width) / 16);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        border-radius: var(--borderWidth);
        font-size: calc(var(--solution-container-width) / 15);
        background: linear-gradient(90deg, rgba(78, 13, 179, 1) 0%, rgba(75, 0, 212, 1) 50%, rgba(78, 13, 179, 1) 100%);
        margin-bottom: 2px;
    }

        .solution-container .sub-title-container2 .sub-title2 {
            width: calc(var(--solutions-container-width) / 3.75);
            height: calc(var(--solutions-container-height) / 6);
            font-weight: 900;
            font-size: calc(var(--solution-container-width) / 16);
            text-align: center;
        }

    .solution-container .sub-title-container3 {
        width: calc(var(--solutions-container-width) / 3.75);
        height: calc(var(--solutions-container-height) / 6);
        font-weight: 900;
        font-size: calc(var(--solution-container-width) / 16);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        border-radius: var(--borderWidth);
        font-size: calc(var(--solution-container-width) / 15);
        background: linear-gradient(174deg, rgba(112, 63, 188, 1) 0%, rgba(108, 41, 245, 1) 10%, rgba(78, 13, 179, 1) 100%, rgba(112, 63, 188, 1) 100%);
    }

        .solution-container .sub-title-container3 .sub-title3 {
            width: calc(var(--solutions-container-width) / 3.75);
            height: calc(var(--solutions-container-height) / 6);
            font-weight: 900;
            font-size: calc(var(--solution-container-width) / 16);
            text-align: center;
        }

    .solution-container .sub-title4 {
        width: calc(var(--solutions-container-width) / 3.75);
        height: calc(var(--solutions-container-height) / 9);
        font-weight: 900;
        font-size: calc(var(--solution-container-width) / 19);
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        /*        background: grey;*/
    }

        .solution-container .sub-title4 span {
            text-align: center;
            /*            background: #1aba62;*/
        }



/*************Animations*************/
@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
