
<div class="solution-container">
    <div class="title-container">
        <div class="title">
            BlaBlaBla
        </div>
    </div>
    <div class="sub-title">
        BlaBlaBlaBlaBla Bla BlaBla BlaBlaBlaBla
    </div>
    <div class="sub-title2">
        BlaBlaBlaBlaBla Bla BlaBla BlaBlaBlaBla
    </div>
    <div class="sub-title3">
        BlaBlaBlaBlaBla Bla BlaBla BlaBlaBlaBla
    </div>
    <div class="sub-title4">
        <span>BlaBlaBla</span>
    </div>
</div>