
<div class="solution-container">
    <div class="title-container">
        <div class="title">
            Solution
        </div>
    </div>
    <div class="sub-title-container">
        <div class="sub-title">
            BlaBlaBlaBlaBla Bla BlaBla
        </div>
    </div>
    <div class="sub-title-container2">
        <div class="sub-title2">
            BlaBlaBlaBlaBla Bla BlaBla
        </div>
    </div>
    <div class="sub-title-container3">
        <div class="sub-title3">
            BlaBlaBlaBlaBla Bla BlaBla
        </div>
    </div>
    <div class="sub-title4">
        <span>BlaBlaBla</span>
    </div>
</div>