
<div class="solution-container">
    <div class="solution-index-container">
        <div class="solution-index">
            @Rank/6
        </div>
    </div>
    <div class="title-container">
        <div class="title">
            @Title
        </div>
            <div class="arrow">
            </div>
    
    </div>
    <div class="sub-title-container">
        <div class="sub-title">
            @SubTitle1
        </div>
    </div>
    <div class="sub-title-container2">
        <div class="sub-title2">
            @SubTitle2
        </div>
    </div>
    <div class="sub-title-container3">
        <div class="sub-title3">
            @SubTitle3
        </div>
    </div>
    <div class="sub-title4">
        <span>@SubTitle4</span>
    </div>
</div>