
<div class="circle-container" style="
    --position-top : @PositionTop;
    --position-left : @PositionLeft;
    --circle-container-width : @CircleWidth;
    --z-index : @ZIndex;
    --circle-container-opacity: @Opacity">
    <div class="carousel-container">
        <div class='slider'>
            <input name="input-slider" id='input-slide-0' type="radio" class='input-slide input-slide-num'>
            <input name="input-slider" id='input-slide-1' type="radio" class='input-slide input-slide-num'>
            <input name="input-slider" id='input-slide-2' type="radio" class='input-slide input-slide-num'>
            <input name="input-slider" id='input-slide-3' type="radio" class='input-slide input-slide-num'>
            <input name="input-slider" id='input-slide-autoplay' type="radio" class='input-slide' checked>
            <ul>
                <li class='slide-0'></li>
                <li class='slide-1'></li>
                <li class='slide-2'></li>
                <li class='slide-3'></li>
            </ul>
            <div class='slide-description'>
                <label class='slide-0'>
                    <div class="text-slide">
                        <img src="/images/work.jpg" />
                    </div>
                </label>
                <label class='slide-1'>
                    <div class="text-slide">
                        <img src="/images/work.jpg" />
                    </div>
                </label>
                <label class='slide-2'>
                    <div class="text-slide">
                        <img src="/images/work.jpg" />
                    </div>
                </label>
                <label class='slide-3'>
                    <div class="text-slide">
                        <img src="/images/work.jpg" />
                    </div>
                </label>
            </div>
            <div class='slider-arrow-prev'>
                <label class='slide-0' for='input-slide-0'></label>
                <label class='slide-1' for='input-slide-1'></label>
                <label class='slide-2' for='input-slide-2'></label>
                <label class='slide-3' for='input-slide-3'></label>
            </div>
            <div class='slider-arrow-next'>
                <label class='slide-0' for='input-slide-0'></label>
                <label class='slide-1' for='input-slide-1'></label>
                <label class='slide-2' for='input-slide-2'></label>
                <label class='slide-3' for='input-slide-3'></label>
            </div>
            <div class='slider-dot'>
                <label class='slide-0' for='input-slide-0'></label>
                <label class='slide-1' for='input-slide-1'></label>
                <label class='slide-2' for='input-slide-2'></label>
                <label class='slide-3' for='input-slide-3'></label>
            </div>
        </div>
    </div>
</div>