
.circle-container {
    /****** Variables ******/
    /*carousel*/
    --slide-btn-autoplay: #4e0db3;
    --slide-btn-clicked: #4e0db3;
    --slide-btn-hover: #c50092;
    --carousel-clip-path: polygon(0 0, 100% 0, 72% 100%, 0 100%); /*Trapezoid*/
    /***********************/
    position: fixed;

    top: var(--position-top);
    left: var(--position-left);
    transform: translate(-50%, -50%);
    z-index: var(--z-index);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--circle-container-width);
    height: 100.1vh;
    /*border-radius: 65% 4% 18% 40% / 0% 26% 73% 0%;*/
    clip-path: var(--carousel-clip-path);
    overflow: hidden;
}


/***************** Carousel ********************/

#carouselExampleIndicators {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: normal;
    width: inherit;
    height: 100vh;
    z-index: 10;
    text-align: center;
    opacity: 0.8;
    clip-path: var(--carousel-clip-path);
    background-size: 100% 100%;
    box-shadow: 0 0 8px 8px rgba(78, 13, 179, 0.2) inset;
    filter: blur(0px) grayscale(0.8) hue-rotate(240deg);
}

.carousel-item {
    background-size: 100% 100%;
    width: inherit;
    height: 100vh !important;
}

    .carousel-item img {
        background-size: 100% 100%;
        width: inherit;
        height: inherit;
    }
