

.airplane-container {
    /***** Variables *****/
    --airplane-top: 30%;
    --airplane-left: -15%;
    --airplane-scale: 1.25;
    --airplane-coef: 1.1;
    /*********************/
    position: fixed;
    top: var(--airplane-top);
    left: var(--airplane-left);
    z-index: 5;
    height: fit-content;
    width: fit-content;
    opacity: 0.33;
    animation: flight 12s ease-in;
    animation-delay: 4s
}


    .airplane-container img {
        z-index: 7;
        height: auto;
        width: 2vw;
    }

/*Animation*/
@keyframes flight {
    0% {
        top: calc(var(--airplane-top) + 1%);
        left: calc(var(--airplane-left) + 10%);
        -ms-transform: scale(calc(var(--airplane-scale) * var(--airplane-coef) * 1)); /* IE 9 */
        -webkit-transform: scale(calc(var(--airplane-scale) * var(--airplane-coef) * 1)); /* Safari 3-8 */
        transform: scale(calc(var(--airplane-scale) * var(--airplane-coef) * 1));
    }

    100% {
        top: calc(var(--airplane-top) + 11%);
        left: calc(var(--airplane-left) + 210%);
        -ms-transform: scale(calc(var(--airplane-scale) * var(--airplane-coef) * 15)); /* IE 9 */
        -webkit-transform: scale(calc(var(--airplane-scale) * var(--airplane-coef) * 15)); /* Safari 3-8 */
        transform: scale(calc(var(--airplane-scale) * var(--airplane-coef) * 15));
    }

}