

.left-city-container {
    z-index: 3;
    position: fixed;
    bottom: 0;
    left: 0;
    height: fit-content;
    width: fit-content;
    opacity: 0.25;
}

    .left-city-container img {
        object-fit: inherit;
        height: auto;
        width: 50vw;
    }

.right-city-container {
    z-index: 3;
    position: fixed;
    bottom: -0.9%;
    right: 0;
    height: fit-content;
    width: fit-content;
    opacity: 0.25;
}

    .right-city-container img {
        z-index: 3;
        object-fit: inherit;
        height: auto;
        width: 50.01vw;
        transform: rotateY(180deg);
    }
