

<Moon></Moon>
<Sun></Sun>
<div class="d-flex flex-row">
    <div class="left-city-container">
        <img src="/images/tokyo-skyline-clip-art-tokyo-png-clipart.svg" />
    </div>

    <div class="right-city-container">
        <img src="/images/silhouette-of-eiffel-tower-800x300.svg" />
    </div>
</div>