

@* <div class="left-city-container">
    <img src="/images/city-windows-background.svg" />
</div>

<div class="right-city-container">
    <img src="/images/city-windows-background.svg" />
</div>
 *@
<div class="d-flex flex-row">
    <div class="left-city-container">
        <img src="/images/city-windows-background.svg" />
    </div>

    <div class="right-city-container">
        <img src="/images/city-windows-background.svg" />
    </div>
</div>