
<div class="home-bottom-text">
    <div class="card-1">
        <div class="title">
            BlaBlaBla
        </div>
        <div class="sub-title">
            BlaBlaBlaBlaBla Bla BlaBla BlaBlaBlaBla
        </div>
        <div class="description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            Why do we use it?
        </div>
        <button class="btn btn-success">OKOKOKOK</button>
    </div>
    <div class="card-2">
        <div class="title">
            BlaBlaBla
        </div>
        <div class="sub-title">
            BlaBlaBlaBlaBla Bla BlaBla BlaBlaBlaBla
        </div>
        <div class="description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            Why do we use it?
        </div>
        <button class="btn btn-success">OKOKOKOK</button>
    </div>
</div>