
.home-bottom-text {
    position: fixed;
    top: 75%;
    left: 61%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 35vh;
    z-index: 10;
    /*background: pink;*/
    color: #FCF8FF;
}

    .home-bottom-text .card-1 {
        position: fixed;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 18vw;
        height: 35vh;
        z-index: 10;
        background: blue;
    }
    .home-bottom-text .card-2 {
        position: fixed;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 18vw;
        height: 35vh;
        z-index: 10;
        background: red;
    }

.title {
    font-weight: 900;
    font-size: 1.2vw;
    text-align: start;
    background: brown;

}

 .sub-title {
    font-weight: 900;
    font-size: 1.3vw;
}

 .description {
    font-size: 0.7vw;
}