.laptop-container {
    /****** Variables ******/

    /***********************/
    position: fixed;
    top: var(--laptop-position-top);
    left: var(--laptop-position-left);
    transform: translate(-50%, -50%);
    z-index: var(--laptop-z-index);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--laptop-container-width);
    height: var(--laptop-container-height);
    animation: up-down 2s infinite alternate;
}

    .laptop-container img {
        z-index: 7;
        margin-top: 0vh;
        width: var(--laptop-container-width);
        height: var(--laptop-container-height);
    }

/*Animation*/

@keyframes up-down {
    0% {
        top: 49%;
    }

    100% {
        top: 51%;
    }
}