
<div class="laptop-container" style="
    --laptop-position-bottom: @PositionBottom;
    --laptop-position-left: @PositionLeft;
    --laptop-container-opacity: @Opacity;
    --laptop-container-width: @ContainerWidth;
    --laptop-container-height: @ContainerHeight;
    --laptop-width: @LaptopWidth;
    --laptop-height: @LaptopHeight;
    --laptop-z-index: @ZIndex;
">
    <img src="/images/Home/Laptop JBT.DEV Front side new@1-2048x2048-2d-black.png" />
    <div class="laptop-text">
        <span class="txt-type" data-wait="3000"
                data-words=@TypingWords>
        </span>
    </div>
</div>




