.laptop-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
/*    background: rgb(0,158,248);
    background: linear-gradient(86deg, rgba(0,158,248,1) 0%, rgba(78,13,179,1) 44%, rgba(31,25,38,1) 95%);
    background: rgba(31,25,38,1);
    background: linear-gradient(86deg,rgba(31,25,38,1) 0%, rgba(78,13,179,1) 44%, rgba(0,158,248,1) 95%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);*/
    animation: up-down 1.5s infinite alternate;
}

img {
    z-index: 7;
    margin-top: 250px;
    width: 1000px;
    height: 1000px;
}

/*Animation*/

@keyframes up-down {
    0% {
        top: 49%;
    }

    100% {
        top: 51%;
    }
}


.laptop-text {
    font-family: 'Courier New';
    text-align: center;
    color: #FCF8FF;
    font-size: 30px;
    position: fixed;
    top: 45%;
    left: 52%;
    /*transform: translate(-50%, -50%) rotateX(-0.7deg) rotateY(63deg) rotateZ(5.25deg);*/


    transform: translate(-50%, -50%) rotateX(23.65deg) rotateY(23.65deg) rotateZ(3deg);
    /*transform: translate(-50%, -50%) rotateX(-147.42deg) rotateY(23.65deg) rotateZ(-176.0deg);*/
    z-index: 8;
}