
<div class="laptop-container">
    <img src="/images/Laptop JBT.DEV@1-1024x1024.png" />
    <div class="laptop-text">
        <span class="txt-type" data-wait="3000"
                data-words=@TypingWords>
        </span>
    </div>
</div>




