
<div class="laptop-container">
    <img src="/images/laptop1024x1024.png" />
    <div class="laptop-text">
        <span class="laptop-welcome-text">Bienvenue</span><span class="laptop-typing-underscore">_</span>
    </div>
</div>




