
<div class="circle-container" style="
    --position-top : @PositionTop;
    --position-left : @PositionLeft;
    --circle-container-width : @CircleWidth;
    --z-index : @ZIndex;
    --circle-container-opacity: @Opacity">

</div>