
.circle-container {
    /****** Variables ******/
    /*--circle-container-opacity: 0.3;*/
    --circle-container-opacity: 0.3;
    /*    --circle-container-width: 40vw;
    --circle-container-height: 40vw;*/
    /***********************/
    position: fixed;
    /*    top: 50%;
    left: 67%;*/
    top: var(--position-top);
    left: var(--position-left);
    transform: translate(-50%, -50%);
    z-index: var(--z-index);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--circle-container-width);
    height: var(--circle-container-width);
    background: rgb(0,158,248, var(--circle-container-opacity));
    background: linear-gradient(86deg, rgba(0,158,248,var(--circle-container-opacity)) 0%, rgba(78,13,179,var(--circle-container-opacity)) 44%, rgba(31,25,38,var(--circle-container-opacity)) 95%);
    background: rgba(31,25,38,0.33);
    background: linear-gradient(86deg,rgba(31,25,38,var(--circle-container-opacity)) 0%, rgba(78,13,179,var(--circle-container-opacity)) 44%, rgba(0,158,248,var(--circle-container-opacity)) 95%);
    border-radius: 50%;
}
