@page "/projects"
@using Portfolio.Clean.BlazorUI.Components.Common
@using Portfolio.Clean.BlazorUI.Components.Projects

<PageTitle>@LanguageContainer.Keys["Portfolio:PageTabTitle"]</PageTitle>

@if (isLoaded)
{
    <div class="projects-page">
        <SetPageTitle PageTitleName="@LanguageContainer.Keys["Portfolio:PageTitle"]"></SetPageTitle>
        <Window DescriptionTxt_=@DescriptionTxt Technologies_=@Technologies></Window>
    </div>
}
else
{
    <CustomLoadingAnimation></CustomLoadingAnimation>
}

