@page "/projects"
@using Portfolio.Clean.BlazorUI.Components.Common
@using Portfolio.Clean.BlazorUI.Components.Projects

<PageTitle>Projets</PageTitle>

<div class="projects-page">
    <SetPageTitle PageTitleName="@LanguageContainer.Keys["Portfolio:PageTitle"]"></SetPageTitle>
    <Window DescriptionTxt_=@DescriptionTxt Technologies_=@Technologies></Window>
</div>