@page "/portfolio"
@using Portfolio.Clean.BlazorUI.Components.Common
@using Portfolio.Clean.BlazorUI.Components.PortfolioComponent

<PageTitle>@LanguageContainer.Keys["Portfolio:PageTabTitle"]</PageTitle>

<div class="portfolio-container">
	 @if (isLoaded)
    {
        <SetPageTitle PageTitleName="@LanguageContainer.Keys["Portfolio:PageTitle"]"></SetPageTitle>
        <img src="/images/Portfolio/jbtdev-new-meeting-room.png" />
        
        <ProjectsWindow></ProjectsWindow>
    }
    else
    {
        <CustomLoadingAnimation></CustomLoadingAnimation>
    }

</div>