
.loading-page {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .loading-page .box {
        position: relative;
        width: 200px;
        height: 200px;
        background: #1f1926; /*black*/
        opacity: 0.5;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

        .loading-page .box::after {
            content: '';
            position: absolute;
            top: -35%;
            right: -35%;
            width: 500px;
            height: 500px;
            background-image: conic-gradient(transparent, transparent, transparent, #4e0db3);
            animation: radar 4s linear infinite;
            animation-delay: -2s;
        }

        .loading-page .box::before {
            content: '';
            position: absolute;
            top: -35%;
            right: -35%;
            width: 500px;
            height: 500px;
            background-image: conic-gradient(transparent, transparent, transparent, #009ef8);
            animation: radar 4s linear infinite;
        }


@keyframes radar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-page .box span {
    position: absolute;
    inset: 5px;
    background: #1f1926; /*black*/
    border-radius: 16px;
    z-index:1;
}

.loading-logo-container {
    width: fit-content;
    height: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

    .loading-logo-container img {
        width: 150px;
        height: 150px;
    }
