
<div class="loading-page">
    <div class="box">
        <span></span>
    </div>
    <div class="loading-logo-container">
        <img src="/images/jbtdev-low-resolution-logo-white-on-transparent-background.svg" />
    </div>
</div>
