

.loading-page {
    z-index:3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #4e0db3; /*purple*/
}

    .loading-page .box {
        position: relative;
        width: 400px;
        height: 400px;
        background: #1f1926; /*black*/
        opacity:0.75;
        border-radius: 20px;
    }
