
<footer class="company-infos">

    <span class="company-name">
        JBT.DEV - 
        <span class="values">@Year</span>
    </span>
    <span class="siren">SIREN : <span class="values">123456789</span></span>
    <span class="siret">SIRET : <span class="values">12345678912345</span></span>
</footer>



