<div class="sidenav">
    <div class="side-element">
        <a href="#"><span>Accueil</span><i></i></a>
    </div>
    <div class="side-element">
        <button class="dropdown-btn">
            <span>Projets</span><i></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Realisations</a>
            <a href="#">Simulation</a>
        </div>
    </div>
    <div class="side-element">
        <button class="dropdown-btn">
            <span>A propos</span><i></i>
        </button>
        <div class="dropdown-container">
            <a href="#">JBT.DEV</a>
            <a href="#">Collaborateurs</a>
        </div>
    </div>
    <div class="side-element">
        <a href="contactemails"><span>Contact</span><i></i></a>

    </div>
    <div class="side-element">
        <a href="test"><span>Test</span><i></i></a>
    </div>

</div> 

@* <script>
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script> *@