<div class="sidenav">
    <div class="side-element">
        <a href="#"><span>Accueil</span><i></i></a>
    </div>
    <div class="side-element">
        <button class="dropdown-btn" @onclick="ProjectDropdown">
            <span>Projets ▽</span><i></i>
        </button>
        <div class="dropdown-container" id="project-dropdown" style="display: @projectsList;">
            <a href="#">Realisations</a>
            <a href="#">Simulation</a>
        </div>
    </div>
    <div class="side-element">
        <button class="dropdown-btn" @onclick="AboutDropdown">
            <span>A propos ▽</span><i></i>
        </button>
        <div class="dropdown-container" id="about-dropdown" style="display: @aboutList;">
            <a href="#">JBT.DEV</a>
            <a href="#">l'équipe</a>
        </div>
    </div>
    <div class="side-element">
        <a href="contactemails"><span>Contact</span><i></i></a>

    </div>
    <div class="side-element">
        <a href="test"><span>Test</span><i></i></a>
    </div>
</div> 

<div class="sidenav-toogle">
    <div class="side-element">
        <button class="dropdown-btn" @onclick="ProjectDropdown"><span>≡</span></button>
    </div>
</div>

       