.company-infos {
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: var(--laptop-z-index);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 22vw;
    height: fit-content;
    /*background: green;*/
}

span:not(.values) {
    color: #FCF8FF;
    font-size: 0.8vw;
    font-weight: 100;
    opacity: 0.5;
}

.values {
    font-weight: 600;
}
