
<footer>
    <nav class="navbar">
        <ul class="navbar-nav mx-auto d-flex flex-row">
            <li class="nav-item">
                <button type="button" class="btn btn-primary">
                    Facebook
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-primary">
                    Malt
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-primary">
                    GitHub
                </button>
            </li>
        </ul>
    </nav>
    <nav class="navbar">
        <ul class="navbar-nav mx-auto d-flex flex-row">
            <li class="nav-item">
                <img src="/images/logo-no-background.svg" height="40" />
            </li>
            <li class="nav-item">
                <span>@Year</span>
            </li>
            <li class="nav-item">
                <span>SIREN : 123456789</span>
                <span>SIRET : 123456789</span>
            </li>
        </ul>
    </nav>
</footer>



