
.sidenav {
    height: fit-content;
    width: fit-content;
    position: fixed;
    top: 50%;
    left: 92%;
    transform: translate(-50%, -50%);
    z-index: 6;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(31, 25, 38, 0.5);
    --nav-font-size: 17px;
    --nav-width: 225px;
}

    .sidenav .side-element {
        width: var(--nav-width);
        height: fit-content;
        margin: 8px 8px 8px 8px;
        border: 1px solid rgb(252, 248, 255, 0.05);
    }

    .sidenav a, .side-element button {
        width: var(--nav-width);
        position: relative;
        background: none;
        color: #FCF8FF;
        text-decoration: none;
        text-transform: uppercase;
        font-size: var(--nav-font-size);
        letter-spacing: 5px;
        font-weight: 400;
        padding: 10px 30px;
        font-family: 'Castoro Titling', sans-serif;
        display: block;
        transition: 0.5s;
        border: none;
        --clr: #009ef8;
        text-align: start;
        white-space: break-spaces;
        word-break: keep-all;
    }

        .sidenav a:hover, .side-element button:hover {
            background: rgb(31, 25, 38, 0.5);
            color: var(--clr);
            box-shadow: 0 0 5px var(--clr);
        }

        .sidenav a:before, .side-element button:before {
            content: '';
            position: absolute;
            inset: 2px;
            /*background: rgb(31, 25, 38, 0.5);*/
        }

        .sidenav a span, .side-element button span {
            position: relative;
            z-index: 1;
        }

/* Main content */
.main {
    margin-left: 210px; /* Same as the width of the sidenav */
    /*font-size: 20px;*/ /* Increased text to enable scrolling */
    opacity: 1;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: #4e0db3;
    color: #FCF8FF;
}

.dropdown-container {
    background-color: background: rgb(31, 25, 38, 0.5);
    padding-left: 8px;
}

    .dropdown-container a {
        font-size: calc(var(--nav-font-size) - 5px);
        width: calc(var(--nav-width) - 35px);
        letter-spacing: 4px;
    }


/*------------------------------ Responsive ------------------------------*/


/**** Toggle ****/

.sidenav-toogle {
    height: fit-content;
    width: fit-content;
    position: fixed;
    top: 6%;
    right: 0%;
    transform: translate(-50%, -50%);
    z-index: 6;
    overflow-x: hidden;
    background: rgb(31, 25, 38, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    .sidenav-toogle .side-element {
        width: fit-content;
        height: fit-content;
        margin: 8px 8px 8px 8px;
        padding: 0;
        border: 1px solid rgb(252, 248, 255, 0.05);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

        .sidenav-toogle .side-element button {
            width: fit-content;
            height: auto;
            position: relative;
            background: none;
            color: #FCF8FF;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 400;
            padding: 10px;
            font-family: 'Castoro Titling', sans-serif;
            transition: 0.5s;
            border: none;
            --clr: #009ef8;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

            .sidenav-toogle .side-element button span {
                position: relative;
                z-index: 1;
                width: 40px;
                height: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .sidenav-toogle .side-element button:hover {
                background: rgb(31, 25, 38, 0.5);
                color: var(--clr);
                box-shadow: 0 0 5px var(--clr);
            }

            .sidenav-toogle .side-element button:before {
                content: '';
                position: absolute;
                inset: 2px;
                /*background: rgb(31, 25, 38, 0.5);*/
            }


/* Phones & small devices: */
@media screen and (max-width : 600px) {
    .sidenav {
        display: none;
    }
}

/* Ladscape tablets: */
@media screen and (min-width: 600px ) and (max-width : 1024px) {
    .sidenav {
        display: none;
    }
}

/* Desktops and laptops  */
@media screen and (min-width: 1024px ) and (max-width : 1224px) {
    .sidenav {
        display: none;
    }
}

/* Large desktops and laptops  */
@media screen and (min-width : 1224px) {
    .sidenav-toogle {
        display: none;
    }
}
