@page "/"
@using Portfolio.Clean.BlazorUI.Components.Common
@using Portfolio.Clean.BlazorUI.Components.Home
@inject ILanguageContainerService languageContainer

<PageTitle>@LanguageContainer.Keys["Home:PageTabTitle"]</PageTitle>

<div class="home-page">
	 @if (isLoaded)
    {
        <img src="/images/Home/jbtdev-home-new-background-image-color.png" />
		<Laptop PositionTop="30%" PositionLeft="30%" Opacity="0.3"
				ContainerWidth="50vw" ContainerHeight="50vw" ZIndex="6">
		</Laptop>
		<City></City>
		<HomeMainText></HomeMainText>

		<div class="language-selector">

            <div class="side-element">
                <button class="dropdown-btn" @onclick="ShowLanguages">
                    <img src="/images/Home/icons8-language-50.png">
                </button>
                <div class="dropdown-container" id="about-dropdown" style="display: @displayLanguages;">
                    @foreach (var language in Languages)
                    {
                        <a class="" @onclick='() => SetLanguage($"{language.Key}")'>@language.Value</a>
                    }
                </div>
            </div>
		</div>
    }
    else
    {
        <CustomLoadingAnimation></CustomLoadingAnimation>
    }

</div>
