
<div class="projects-window-container">
    <div class="title-container">
        Nom Project
    </div>
</div>

<div class="screen-container">
    <div class="screen">
        <img src="/images/Portfolio/jbtdev-new-meeting-room.png" />
    </div>
</div>

<div class="technologies-container">

</div>