
/************************************** Window ********************************************/
/******************************************************************************************/

.projects-window-container {
    /***** Variables ******/
    --window-container-width: 47vw;
    --window-container-height: 70vh;
    /**********************/
    position: fixed;
    top: 55%;
    left: 74%;
    transform: translate(-50%, -50%);
    z-index: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--window-container-width);
    height: var(--window-container-height);
    border: 1px solid rgb(252, 248, 255, 0.05);
    border-radius: 10px;
    color: #FCF8FF;
    background: rgb(31, 25, 38, 0.5);
}

    .projects-window-container .title-container {
        position: fixed;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(var(--window-container-width) * 0.5);
        height: calc(var(--window-container-width) * 9/16 * 0.15);
        border: 1px solid rgb(252, 248, 255, 0.1);
        border-radius: 10px;
        color: #FCF8FF;
        font-size: 1.5vw;
        letter-spacing: 0.3vw;
        font-weight: 400;
/*        background: rgb(31, 25, 38, 0.2);*/
    }

    .projects-window-container .description-container {
        position: fixed;
        top: 46%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(var(--window-container-width) * 0.9);
        height: calc(var(--window-container-width) * 9/16 * 0.85);
        border: 1px solid rgb(252, 248, 255, 0.1);
        border-radius: 10px;
        color: #FCF8FF;
        font-size: 1vw;
        letter-spacing: 0.3vw;
        font-weight: 400;
        background: rgb(31, 25, 38, 0.2);
    }

    .projects-window-container .projects-navigation-container {
        position: fixed;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*        width: 350px;
        height: 100px;*/
        width: calc(var(--window-container-width) * 0.6);
        height: calc(var(--window-container-width) * 9/16 * 0.2);
        border-radius: 10px;
        color: #FCF8FF;

    }

.arrow-wrapper {
    display: flex;
    align-items: center;
}

.block {
    /*    width: 200px;
    height: 50px;*/
    width: calc(var(--window-container-width) * 0.25);
    height: calc(var(--window-container-width) * 9/16 * 0.1);
    background: none;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(252, 248, 255, 0.05);
    border-radius: 10px;
/*    background: rgb(31, 25, 38, 0.2);*/
}

h1 {
    opacity: 0.7;
    text-align: center;
    text-transform: uppercase;
    /*    font-size: 20px;*/
    transition: opacity 0.3s;
    margin-top: 6px;
    font-size: 1vw;
    letter-spacing: 0.1vw;
    font-weight: 400;
}

.arrow-wrapper:hover h1 {
    opacity: 0.7;
}

#arrow_2 .arrow {
    cursor: pointer;
    display: block;
    align-items: flex-start;
    text-transform: uppercase;
    position: relative;
    transition: transform 0.3s;
}

    #arrow_2 .arrow span {
        display: block;
        width: 3em;
        opacity: 0;
        transition: opacity 0.3s 0s;
        padding: 0 0.5em;
    }

    #arrow_2 .arrow:hover span {
        opacity: 0.7;
        transition: opacity 0.3s 0.1s;
    }

    #arrow_2 .arrow:before {
        content: "";
        display: block;
        border: solid #FCF8FF;
        border-width: 2px 2px 0 0;
        position: absolute;
        top: 2px;
        width: 20px;
        height: 20px;
    }

    #arrow_2 .arrow.arrow--left:before {
        transform: rotate(-135deg);
        right: 0;
        transition: right 0.3s 0.2s;
    }

    #arrow_2 .arrow.arrow--left:hover:before {
        right: 100%;
        transition: right 0.3s;
    }

    #arrow_2 .arrow.arrow--right {
        text-align: right;
    }

        #arrow_2 .arrow.arrow--right:before {
            left: 0;
            transform: rotate(45deg);
            transition: left 0.3s 0.2s;
        }

        #arrow_2 .arrow.arrow--right:hover:before {
            left: 100%;
            transition: left 0.3s;
        }

    #arrow_2 .arrow:hover {
        transform: none;
    }


/**** no arrow***/

#arrow_2 .no-arrow span {
    display: block;
    width: 3em;
    opacity: 0;
    transition: opacity 0.3s 0s;
    padding: 0 0.5em;
}

/*********************************** Technologies *****************************************/
/******************************************************************************************/

.technologies-container {
    /***** Variables ******/
    --technologies-container-width: 37vw;
    --technologies-container-height: 16vh;
    /**********************/
    position: fixed;
    top: 82%;
    left: 27.5%;
    transform: translate(-50%, -50%);
    z-index: 7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: var(--technologies-container-width);
    height: var(--technologies-container-height);
    /*border: 1px solid rgb(252, 248, 255, 0.05);*/
    border-radius: 10px;
    color: #FCF8FF;
 /*   background: blue;*/
}

    .technologies-container img {
        height: auto;
        width: 4em;
        margin: 0.3em;
        display: flex;
    }


/************************************** Screen ********************************************/
/******************************************************************************************/

.screen-container {
    /***** Variables ******/
    --screen-container-width: 44vw;
    --screen-container-height: 42vh;
    /**********************/
    position: fixed;
    top: 26%;
    left: 6.6%;
    width: var(--screen-container-width);
    height: var(--screen-container-height);
    perspective: 3000px;
    transform-style: preserve-3d;
}

    .screen-container .screen {
        z-index: 7;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: inherit;
        height: inherit;
        border: 1px solid rgb(252, 248, 255, 0.05);
        color: #FCF8FF;
        text-align: center;
        font-size: 5vw;
        /*transform: rotateX(5deg) rotateY(29deg) rotateZ(-0.4deg);*/
        transform: rotateX(5deg) rotateY(29deg) rotateZ(-0.4deg);
        transform-style: preserve-3d;
        /*background: #1534c7;*/
        /*background: red;*/
    }

        .screen-container .screen img {
            width: 100%;
            height: 100%;
            opacity: 1;
            /*filter: blur(0.1rem);*/

        }
